/* 
    Document   : fix-it.css
    Created on : Oct 16, 2013, 2:19:03 AM
    Author     : sylwia
    Description:
        Purpose of the stylesheet follows.
*/

.container { 
   padding-top: 60px;
}

